TELEGRAM_BOT_TOKEN=seu_token_aqui
GOOGLE_SHEETS_DOCUMENT_ID=id_da_planilha_aqui
GOOGLE_SERVICE_ACCOUNT_EMAIL=email_do_service_account_aqui
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nsua_chave\n-----END PRIVATE KEY-----"
ALLOWED_USERS="id1,id2"
WEBHOOK_SECRET="uma_senha_secreta_aqui"
